<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="CrossfadeSeconds" value="2"/>
    <add key="VideoFileExtensions" value=".avi;.wmv;.mpg;.mp4;.AVI;.WMV;.MPG;.MP4"/>
    <add key="ImageFileExtensions" value=".bmp;.jpg;.gif;.png;.tif;.tiff;.jpeg;.BMP;.JPG;.GIF;.PNG;.TIF;.TIFF;.JPEG"/>
    <add key="AudioFileExtensions" value=".mp3;.wav;.aif;.aiff;.MP3;.WAV;.AIF;.AIFF"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
